*{
    background-color: #FAEBD7;
}

@font-face {
    font-family: 'LLPIXEL';
    src : url('../../../../ressources/LLPIXEL3.ttf')
}

h1{
    text-align: center;
    font-family: 'LLPIXEL';
    color: #322;
}


canvas{
    display: block;
    background-color: #322;
    margin: auto;
    border: 3px dashed #FAEBD7;
}

#controls{
    display:block;
    margin: auto;
    width: 500px;
}
#stopButton {
    float: right;
}
#startButton {
    float: left;
}
