<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function(){
        require('../js/game-view.js')
    })
    </script>
    <link rel="stylesheet" type="text/css" href="../css/p4ng-style.css">
</head>
<body>
    <h1>P4ng!</h1>
    <canvas id="gameArea" width="520" height="520"></canvas>
    <button id="startButton">start!</button>
    <button id="stopButton">stop!</button>
    <div><p>Player north: </p><p id="p0">0</p></div>
    <div><p>Player east: </p><p id="p1">0</p></div>
    <div><p>Player south: </p><p id="p2">0</p></div>
    <div><p>Player west: </p><p id="p3">0</p></div>
</body>
</html>
