<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function(){
        require('../js/game-view.js')
    })
    </script>
    <link rel="stylesheet" type="text/css" href="../css/p4ng-style.css">
</head>
<body>
    <h1>P4ng!</h1>
    <canvas id="gameArea" width="500" height="500"></canvas>
    <button id="startButton">start!</button>
    <button id="stopButton">stop.</button>
</body>
</html>
