<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>P4ng!</title>
    <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function(){
        require('../js/game-view.js')
        require('../js/lobby-view.js')
        require('../../controller/game-controller.js')
        require('../../controller/lobby-controller.js')
    })
    </script>
    <link rel="stylesheet" type="text/css" href="../css/p4ng-style.css">
</head>

<body>
    <h1>P4ng!</h1>
    <div id="lobbyContainer" class="open">
        <table id="lobbyPanel">
            <thead>
                <tr>
                    <th>PLAYERS</th>
                    <th>ROOMS</th>
                </tr>
            </thead>
            <tr>
                <!-- PLAYERS -->
                <td id="players">
                    <div id="74" class="localPlayer">
                        <ul class="playerInfo">
                            <li>
                                <p>Your name: </p>
                                <textarea rows="3" cols="6.5" id="localPlayerName"></textarea>
                            </li>
                            <li><p>Score: </p><p></p></li>
                            <li><p>Rank: </p><p></p></li>
                        </ul>
                    </div>
                    <button id="refreshPlayers">refresh</button>
                    <ul id="remotePlayersList">
                        <li id="122" class="remotePlayer">
                            <ul class="playerInfo">
                                <li>abcdefgh</li>
                                <li><p>Score: </p><p></p></li>
                                <li><p>Rank: </p><p></p></li>
                            </ul>
                        </li>
                        <li id="33" class="remotePlayer">
                            <ul class="playerInfo">
                                <li>b</li>
                                <li><p>Score: </p><p></p></li>
                                <li><p>Rank: </p><p></p></li>
                            </ul>
                        </li>
                    </ul>
                </td>
                <!-- GAMES -->
                <td>
                    <div id="newGame">
                        <p>Room name:</p>
                        <input type="text" size="9" id="newGameName">
                        <button id="createGame">create</button>
                    </div>
                    <button id="refreshRooms">refresh</button>
                    <table id="games">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>in</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tr id="game47">
                            <td>prout</td>
                            <td class="playersInside">3</td>
                            <td><button>&nbsp;~</button></td>
                        </tr>
                        <tr id="detailsGame47" class="details invisible">
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr id="game69">
                            <td>haha</td>
                            <td class="playersInside">1</td>
                            <td><button>&nbsp;~</button></td>
                        </tr>
                        <tr id="detailsGame69" class="details invisible">
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr id="game1">
                            <td>haha</td>
                            <td class="playersInside">1</td>
                            <td>+</td>
                        </tr>
                        <tr id="detailsGame1" class="details invisible">
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr id="game2">
                            <td>haha</td>
                            <td class="playersInside">1</td>
                            <td>+</td>
                        </tr>
                        <tr id="detailsGame2" class="details invisible">
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr id="game3">
                            <td>haha</td>
                            <td class="playersInside">1</td>
                            <td>+</td>
                        </tr>
                        <tr id="detailsGame3" class="details invisible">
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr id="game4">
                            <td>haha</td>
                            <td class="playersInside">1</td>
                            <td>+</td>
                        </tr>
                        <tr id="detailsGame4" class="details invisible">
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr id="game5">
                            <td>haha</td>
                            <td class="playersInside">1</td>
                            <td>+</td>
                        </tr>
                        <tr id="detailsGame5" class="details invisible">
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr id="game6">
                            <td>haha</td>
                            <td class="playersInside">1</td>
                            <td>+</td>
                        </tr>
                        <tr id="detailsGame6" class="details invisible">
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <div id="gameContainer" class="closed">
        <div id="gamePanel">
            <canvas id="gameArea" width="500" height="500"></canvas>
            <div id="controls">
                <button id="startButton" class="control">Start!</button>
                <button id="stopButton" class="control" onclick="">Stop.</button>
            </div>
        </div>
    </div>
</body>
</html>
